= form_for @restaurant do |f|
	%fieldset
		%p
			= f.label :name
			= f.text_field :name, autofocus: true
		%p
			= f.label :description
			= f.text_area :description
		%p
			= f.label :address
			= f.text_area :address
		%p
			= f.label :phone_number
			= f.text_field :phone_number
		%p
			= f.label :image
			= image_tag @restaurant.image_url(:thumb) if @restaurant.image?
			= f.file_field :image
			= f.hidden_field :image_cache
		%p
			= f.label :menu
			= f.file_field :menu
			= f.hidden_field :menu_cache
		%p
			= f.submit class: 'btn btn-primary'
			= link_to 'Cancel', root_path
