%h1= @restaurant.name

%article
	%header
		%p= @restaurant.description
	%div
		%p= image_tag @restaurant.image_url(:masthead)
		- if @restaurant.menu_url
			%h5= link_to 'Download our menu!', @restaurant.menu_url, target: '_blank'
		- if @restaurant.owner != nil
			%h5 Owned By: #{@restaurant.owner.name}
		%h5 Address
		%p= @restaurant.address
		%h5 Phone
		%p= @restaurant.phone_number
		%p= image_tag find_on_google_map(@restaurant)
		= form_for [@restaurant, @reservation] do |res|
			= render 'shared/error_messages', object: res.object
			%fieldset.form
				%legend Make a Reservation!
				.form-group
					= res.label :email
					= res.text_field :email, class: 'form-control'
				.form-group
					= res.label :res_date
					= res.datetime_local_field :res_date, class: 'form-control'
				.form-group
					= res.label :message
					= res.text_area :message, class: 'form-control'
				.form-group
					= res.submit class: 'btn btn-primary'
	%p
		- if current_owner && current_owner.owns?(@restaurant)
			= link_to 'edit', edit_restaurant_path(@restaurant)
			|
			= link_to 'delete', @restaurant, method: :delete, data: { confirm: 'Are you sure you want to delete this pipe?' }
			|
		= link_to 'back', root_path
