%header
	.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				= link_to 'Reservester', root_path, class: 'navbar-brand'
			.navbar-collapse
				%ul.nav.navbar-nav.navbar-right
					- if owner_signed_in?
						%li= link_to current_owner.name, '#'
						%li= link_to 'Add a Restaurant', new_restaurant_path
						%li= link_to 'Logout', destroy_owner_session_path(owner_session), method: :delete
					- else
						%li= link_to 'Login', new_owner_session_path

